<footer class="center">
  <p>Created by the Sugar Labs community, available under the
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative Commons">
  CC BY NC 4.0</a>
  </p>

  <p>Copyright 2009-2015 Software Freedom Conservancy, Sugar Labs®</p>

  <!-- FIXME: Update/remove pages -->
  <p>Connect with us on
    <a href="https://socialhelp.sugarlabs.org" title="Social Help">Social Help</a> or
    <a href="https://www.facebook.com/SugarLabs-187845102582/timeline/" title="Sugar on Facebook">Facebook</a> or
    <a href="https://github.com/sugarlabs" title="Sugar on Github">Github</a>
  </p>

  <p><a href="#top" title="Back to the top">Back to top</a></p>
</footer>
