<footer class="center">
  <p>Created by the Sugar Labs community, available under the
  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
  CC BY NC 4.0</a>
  </p>

  <p>Copyright 2009-2015 Software Freedom Conservancy, Sugar Labs®</p>

  <!-- FIXME: Update/remove pages -->
  <h1>
    <a href="https://www.facebook.com/SugarLabs-187845102582/timeline/" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="https://github.com/sugarlabs" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://socialhelp.sugarlabs.org/" target="_blank"><i class="fa fa-question-circle"></i></a>
  </h1>
</footer>
