<!DOCTYPE html>
<html>
  <head>
	   <meta charset="utf-8">
	   <link rel="stylesheet" href="/css/main.css" />
		 <link id="defaultIcon" rel="shortcut icon" href="/assets/favicon_06.png" />
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Sugar Labs - Learning software for children">
     <meta name="keywords" content="sugar, labs, activities, kid, software, opensource, linux, sugarizer, teacher,
      kid, people, tools, learners, explore, discover, learning, teaching, school, kids"/>
     <meta name="robots" content="index, follow"/>
     <meta name="author" content="Sugar Labs">
     <meta property="og:title" content="Sugar Labs - Learning software for children">
     <meta property="og:url" content="http://sugarlabs.org">
     <meta property="og:description" content="The Sugar Learning Platform is a leading learning platform developed
      for the One Laptop per Child project and used every day by nearly 3 million children around the world.">
     <meta property="og:site_name" content="Sugar Labs">
     <meta property="og:image" content="http://co.sugarlabs.org/wiki/images/0/05/Narrativa_05.png" />
     <meta property="og:image" content="http://co.sugarlabs.org/wiki/images/7/70/Narrativa_10.png" />
     <meta property="og:image" content="http://co.sugarlabs.org/wiki/images/a/a4/Narrativa_04.png" />
     <meta property="og:image" content="http://co.sugarlabs.org/wiki/images/8/8f/Narrativa_06.png" />
     <meta itemprop="name" content="Sugar Labs - Learning software for children.">
     <meta itemprop="description" content="The Sugar Learning Platform is a leading learning platform developed for the
      One Laptop per Child project and used every day by nearly 3 million children around the world.">
     <title>{{ page.title }}</title>
  </head>
  <body {{ page.bodyExt }}>
    {{ content }}
    <script src="/js/main.js"></script>
  </body>
</html>
